body{
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span{
    font-weight: bold;
    color: #b58835;
}

p{
    color: #787777;
}

.card{
    width: 300px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}