<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-101 C2</title>
    <style>
      @media all and (max-width: 1100px) and (min-width:601px) {
       /* Medium Screen Styles  */
      }

      @media all and (max-width: 601px) and (min-width:200px) {
        /* Small Screen Styles  */
      }
    </style>
  </head>
  <body>
    <div class="top">
      <!-- Two Divs should be inside here  -->
    </div>
    <div class="mid">
      <!-- Two Divs should be inside here and on the second div you have to put 8 caards  -->
    </div>
    <div class="bottom">
      <!-- Two Divs should be inside here and on the second div you have to put 4 caards  -->
    </div>
  </body>
</html>
